<!-- presentacion.page.html -->
<ion-content>
  <div class="presentation-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido a la pagina que recopila informacion sobre Honkai Star Rail!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Honkai: Star Rail es un próximo juego de rol gratuito por turnos que tiene como objetivo sorprender a los fans con su combate llamativo y su hermoso mundo inspirado en el anime. Aquí está todo lo que sabemos hasta ahora sobre la próxima aventura intergaláctica de HoYoverse, desde el gameplay, hasta los personajes y las plataformas.
        </p>
        <ion-button routerLink="/historia" expand="block" color="dark">Explorar Historia</ion-button>      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
