<ion-header>
  <ion-toolbar>
    <ion-title>Mapas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="verMapa('Mapa 1')">
    <img src="/assets/herta.jpeg" alt="Mapa 1">
    <ion-card-header>
      <ion-card-title>Estacion espacial de Herta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La estación espacial se ha apoderado de una vasta colección de innumerables curiosidades y se ha convertido en un verdadero museo espacial. Un gran número de investigadores se han establecido en la estación, dedicando sus vidas a la recolección continua de reliquias y curiosidades de todos los rincones de la galaxia, catalogando las apariencias y características de los elementos recolectados, y estableciendo formas sistemáticas de observar e investigar metódicamente hasta que finalmente excavan enigmas nuevos y más confusos del enigma inicial que se dispusieron a estudiar. 
    </ion-card-content>
  </ion-card>

  <ion-card (click)="verMapa('Mapa 2')">
    <img src="assets/jarilo.jpeg" alt="Mapa 2">
    <ion-card-header>
      <ion-card-title>Jarilo-VI </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La mayoría de los historiadores fijan el comienzo de la historia del planeta Jarilo-VI en las guerras mitológicas que tuvieron lugar hace miles de años. La guerra prolongada entre los once estados Perun y el ejército de Veles arrasó la tierra durante años hasta que una temprana primavera cambió por completo el curso de la guerra y Veles obtuvo una victoria total.    </ion-card-content>
  </ion-card>

  <ion-card (click)="verMapa('Mapa 3')">
    <img src="assets/xian.jpeg" alt="Mapa 3">
    <ion-card-header>
      <ion-card-title>Xianzhou</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tras la guerra contra los Moradores de la Abundancia, el Luofu viajó por zonas muy pobladas de la galaxia y llevó a cabo intercambios comerciales y culturales con distintos mundos. También firmó un acuerdo con la Corporación para la Paz Interastral y ayudó a muchos planetas a reconstruir los ecosistemas arruinados por los Moradores de la Abundancia. Un flujo constante de gente llegaba al Luofu para obtener tratamiento médico, estudiar o comerciar.    </ion-card-content>
  </ion-card>
</ion-content>
