<ion-content>
  <div class="historia-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>HISTORIA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          En el mundo de Honkai: Star Rail, la aventura arranca en la estación espacial Herta, un lugar futurista repleto de todo tipo de artilugios de alta tecnología. Este lugar, propiedad de la Sra. Herta, de la sociedad Genius, fue concebido en un principio para albergar todo tipo de cosas, conocidas como Curiosidades. Pero, con el paso del tiempo, se convirtió en un centro de investigación científica dirigido por seguidores de Herta. En este lugar, conocerán a Kafka, una elegante señorita que te dio un toque de atención al inyectarte un stellaron cuando la legión Antimateria estaba desatando el caos. Kafka es una cazadora stellaron Cazadora que vive la vida al límite. Ella es intrigante y misteriosa a la vez, pero sin duda es alguien con quien no se debe jugar. No sabemos mucho sobre ella, solo que es un pez gordo entre los cazadores stellaron y que está en la mira de un montón de organizaciones, y no con las mejores intenciones.        </p>
          <img class="icon-image rounded-image" src="/assets/kafka.jpg" alt="Kafka, cazadora de stellaron">
                        </ion-card-content>
    </ion-card>
  </div>
</ion-content>
